<div class="px-6 py-6 surface-section">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button
                label="New"
                icon="pi pi-plus"
                class="mr-2"
                (click)="addCondition()"
            ></p-button>
        </div>
    </p-toolbar>
    <p-table
        #dt
        [value]="conditions"
        [rows]="10"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedConditions"
        [rowHover]="true"
        dataKey="id"
        style="height: 600px"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Logic</th>
                <th>Left Expression</th>
                <th>OPerator</th>
                <th>Right Expression</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-condition>
            <tr class="h48">
                <td>
                    <p-tableCheckbox [value]="condition"></p-tableCheckbox>
                </td>
                <td>
                    <p-autoComplete
                        [(ngModel)]="condition.leftExpression"
                        [suggestions]="filteredLeftExpression"
                        (completeMethod)="filterLeftExpression($event)"
                        field="name"
                        [dropdown]="true"
                    ></p-autoComplete>
                </td>
                <td>
                    <p-autoComplete
                        [(ngModel)]="condition.leftExpression"
                        [suggestions]="filteredLeftExpression"
                        (completeMethod)="filterLeftExpression($event)"
                        field="name"
                        [dropdown]="true"
                    ></p-autoComplete>
                </td>
                <td>
                    <input
                        type="text"
                        pInputText
                        [(ngModel)]="condition.operator"
                    />
                </td>
                <td>
                    <input
                        type="text"
                        pInputText
                        [(ngModel)]="condition.rightExpression"
                    />
                </td>
                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"
                        (click)="deleteItem(condition)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
