<div class="px-6 py-6 surface-section">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button label="New"
                icon="pi pi-plus"
                class="mr-2"
                (click)="addCondition()"></p-button>

            <p-dropdown [options]="searchTags"
                [(ngModel)]="searchTag"
                placeholder="Select a tag"
                (onChange)="loadSearchConditions($event.value)"
                [editable]="true"
                optionLabel="name"></p-dropdown>

        </div>
        <div class="p-toolbar-group-end">
            <p-button icon="pi pi-fw pi-search"
                label="Do Search"
                (click)="search()">

            </p-button>
        </div>
    </p-toolbar>
    <div class="p-fluid grid py-4">
        <div class="field col-12 md:col-1 flex lg:justify-content-center align-items-center">
            <p-checkbox [value]="allSelected"
                [(ngModel)]="allSelected"
                (onChange)="toggoleSelectAll()"
                [binary]="true"></p-checkbox>
        </div>
        <div class="field col-12 md:col-2">Logic </div>
        <div class="field col-12 md:col-3">Left Expression</div>
        <div class="field col-12 md:col-2">Operator</div>
        <div class="field col-12 md:col-3">Right Expression</div>
        <div class="field col-12 md:col-1"></div>
    </div>
    <div class="p-fluid grid"
        *ngFor="let condition of conditions">
        <div class="field col-12 md:col-1 flex lg:justify-content-center align-items-center">
            <p-checkbox [(ngModel)]="selectedConditions"
                (onChange)="toggoleCheckbox()"
                [value]="condition"
                inputId="condition.id"></p-checkbox>
        </div>
        <div class="field col-12 md:col-2">
            <p-autoComplete [(ngModel)]="condition.logic"
                [suggestions]="filteredLogics"
                (completeMethod)="filterLogic($event)"
                field="name"
                [dropdown]="true"></p-autoComplete>
        </div>
        <div class="field col-12 md:col-3">
            <p-autoComplete [(ngModel)]="condition.leftExpression"
                [suggestions]="filteredLeftExpression"
                (completeMethod)="filterLeftExpression($event)"
                field="name"
                [dropdown]="true"></p-autoComplete>
        </div>
        <div class="field col-12 md:col-2">
            <p-autoComplete [(ngModel)]="condition.operator"
                [suggestions]="filteredOperators"
                (completeMethod)="filterOperator($event)"
                field="name"
                [dropdown]="true"></p-autoComplete>
        </div>
        <div class="field col-12 md:col-3">
            <input type="text"
                pInputText
                [(ngModel)]="condition.rightExpression" />
        </div>
        <div class="field col-12 md:col-1">
            <button pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                (click)="deleteItem(condition)"></button>
        </div>
    </div>

</div>
